[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-cors-headers = "*"
django-extensions = "*"
passlib = "*"
python-jose = "*"
bcrypt = "<4.0.0"
requests = "*"
imagehash = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-django = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
